# Ignore node_modules in all directories
**/node_modules/

# Ignore logs and temporary files
**/*.log
**/tmp/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore environment files (if not needed in the container)
.env