@tailwind base;
@tailwind components;
@tailwind utilities;

// DaisyUI card component
.card {
  .card-body {
    flex-grow-0,
    .card-title {
      height: 2.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
